<mat-card class="example-card" appearance="outlined">
<mat-card-header>
    <mat-card-title-group>
    <mat-card-title>
        {{hero.name}}
        @if (hero.alive) {
            <mat-icon matSuffix  aria-label="Alive">how_to_reg</mat-icon>
        } @else {
            <mat-icon matSuffix aria-label="Dead">no_accounts</mat-icon>
        }
    </mat-card-title>
    <mat-card-subtitle>Superpower: {{hero.superpower}}</mat-card-subtitle>
    <img mat-card-sm-image src="{{getHeroImage(hero)}}" class="hero-image">
    </mat-card-title-group>
</mat-card-header>
<mat-card-content>
    {{hero.description}}
</mat-card-content>
<mat-card-actions>
    <button mat-button (click)="goToDetails(hero)">See details</button>
    <button mat-button (click)="openEdit(hero)">Edit</button>
    <button mat-button color="warn" (click)="deleteHero(hero)">
        Delete
        <mat-icon matSuffix  aria-label="Delete hero">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>