.heroes-container {
    padding: 20px;
    gap: 10px;
}

.add-hero-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.heroes-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heroes-paginator {
    margin-top: 20px;
}