<div class="heroes-container">
    <button mat-flat-button class="add-hero-button" (click)="openHeroForm()">Add hero</button>
    <div class="heroes-list">
        @for (hero of pagedHeroes; track hero) {
            <app-hero-card [hero]="hero" />
        }
    </div>
    <mat-paginator #paginator
        class="heroes-paginator"
        aria-label="Select page"
        [length]="pagination.length"
        [pageIndex]="pagination.pageIndex"
        [pageSize]="pagination. pageSize"
        (page)="onPageChange($event)"
    />
</div>